/* Estos son los estilos de la sección de contacto */

.contacto {
    width: 100%;
    height: auto;
    background: var(--azul-10);
    color: var(--preto-100);
}

.contacto__container {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.contacto__seccionDerecha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex: 1 0 0;
}

.contacto__informacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.contacto__formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.recuadroTexto {
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4375rem;
    align-self: stretch;
    border-radius: 0.25rem;
    background: var(--blanco);
}

.recuadroTexto__nombre {
    color: var(--preto-50);
    font-family: var(--raleway);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.recuadroTexto__email {
    color: var(--azul-100);
    font-family: var(--raleway);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.recuadroTexto__inputNombre, .recuadroTexto__inputEmail {
    width: 100%;
    color: var(--preto-100);
    font-family: var(--raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border: none;
}

.areaEmail {
    border-bottom: 2px solid var(--azul-100);
}

.areaTexto {
    display: flex;
    padding: 1rem 0.75rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
    border-radius: 0.25rem;
    background: var(--blanco);
    position: relative;
}

.areaTexto__asunto, .areaTexto__mensaje {
    width: 100%;
    color: var(--preto-100);
    font-family: var(--raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border: none;
}

.areaTexto__mensaje {
    resize: none;
}

.input-container--invalid {
    margin-bottom: 0.5rem;
    color: var(--rojo-intenso);
}

.input-message-error {
    display: none;
}

.areaTexto .input-message-error {
    position: relative;
    bottom: 0;
    left: 0;
    color: var(--rojo-intenso);
    display: none;
}

.botonEnviar {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    background: var(--azul-100);
    color: var(--blanco);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.botonEnviar:hover {
    background: var(--azul-10);
    color: var(--azul-100);
    border: 2px solid var(--azul-100);
}

.contacto__seccionIzquierda {
    display: none;
}


/* Estilos para computadores de escritorio y laptop */
@media screen and (min-width: 1024px) {
    .contacto {
        padding-top: 4rem;
    }
    
    .contacto__container {
        flex-direction: row-reverse;
        padding: 4rem;
        gap: 1rem;
    }

    .contacto__seccionIzquierda {
        width: 29rem;
        height: 38rem;
        display: block;
        flex-shrink: 0;
        background: url(../src/img/contacto.png) lightgray 50% / cover no-repeat;
    }
}

