/* Estos son los estilos de la sección hobbies */

.hobbies {
    width: 100%;
    height: auto;
    background: var(--gris-claro);
    color: var(--preto-100);
}

.hobbies__container {
    width: auto;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
}


/* Estilos para tablet */
@media screen and (min-width: 768px) {
    .skills__container {
        padding: 2rem;
    }
}

/* Estilos para computadores de escritorio y laptop */
@media screen and (min-width: 1024px) {
    .hobbies__container {
        padding: 4rem 2rem;
    }
}

