/* Estos son los estilos de la sección llamada a la acción */

.presentacion {
    width: 100%;
    height: auto;
    background: var(--azul-navy); /* Color de fondo de la seccion llamada a la acción */
    color: var(--blanco);
    border-top: 2px solid var(--blanco-hueso);
}

.presentacion__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    padding: 1rem;
}

.presentacion__imagen {
    margin: auto;
}

.imagen-sobre-mi {
    width: 6.125rem;
    height: 6.125rem;
    border-radius: 98px;
    background: url(../src/img/foto-eduardo.jpeg) lightgray 50% / cover no-repeat;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.bloqueSociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}


/* Estilos para tablet */
@media screen and (min-width: 768px) {
    .presentacion__container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
        padding: 2rem;
    }

    .imagen-sobre-mi {
        width: 9.125rem;
        height: 9.125rem;
        border-radius: 146px;
    }

    .presentacion__contenido {
        gap: 0.5rem;
    }

    .bloqueSociales {
        gap: 2rem;
    }
}

/* Estilos para computadores de escritorio y laptop */
@media screen and (min-width: 1024px) {
    .imagen-sobre-mi {
        width: 23rem;
        height: 23rem;
        border-radius: 368px;
        flex-shrink: 0;
    }

    .presentacion__contenido {
        gap: 1.5rem;
    }
}

