/* Estos son los estilos de la sección proyectos */

.proyectos {
    width: 100%;
    height: auto;
    background: var(--gris-claro);
    color: var(--preto-100);
}

.proyectos__container {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
}

.portafolio__proyecto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portafolio__imagen {
    width: 100%;
}

.portafolio__contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.botones {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.botones__btnRepo {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid var(--azul-100);
    color: var(--azul-100);
}

.botones__btnDemo {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--azul-100);
    border: none;
    color: var(--blanco);
}


/* Estilos para computadores de escritorio y laptop */
@media screen and (min-width: 1024px) {
    .proyectos__container {
        gap: 2rem;
    }
    
    .encriptador {
        flex-direction: row;
    }

    .edmeMovies {
        flex-direction: row-reverse;
    }

    .figurasGeometricas {
        flex-direction: row;
    }

    .portafolio__imagen {
        width: 47rem;
    }

    .portafolio__contenido {
        justify-content: center;
    }
}

