.sobre-mi {
    width: 100%;
    height: auto;
    background: var(--azul-10); /* Color de fondo de la seccion llamada a la acción */
    color: var(--preto-100);
}

.sobreMi-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}


/* Estilos para tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sobreMi-container {
        max-width: 46.9375rem;
        padding: 2rem;
    }
}

/* Estilos para computadores de escritorio y laptop */
@media screen and (min-width: 1024px) {
    .sobreMi-container {
        max-width: 46.9375rem;
        padding: 4rem 2rem;
    }
}

