<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- metas basicas -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Estilos font-family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!-- Estilos CSS -->
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/footer.css">
    </head>
    
    <body>
        <!-- Pie de página del sitio web -->
        <footer class="piePagina">
            <div class="piePagina__container container">
                <div class="piePagina__principal">
                    <div class="piePagina__informacion">
                        <h2 class="titulo-secundario">Eduardo Mendez</h2>
                        <p class="parrafo-secundario">Desarrollador de páginas web a la medida, me inspiro a crear sitios web dinámicos y creativos, adaptables a cualquier dispositivo. Con mi servicio tu negocio o emprendimiento tendrá presencia digital para que tus productos o servicios se vean en internet.</p>
                    </div>

                    <div class="piePagina__enlaces">
                        <h2 class="titulo-secundario">Enlaces de Interes:</h2>
                        <ul class="enlacesPie">
                            <li class="enlacesPie__enlace">
                                <a href="#sobre-mi" class="enlace-footer">Sobre mí</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="#skills" class="enlace-footer">Skills</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="#hobbies" class="enlace-footer">Hobbies</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="#formacion" class="enlace-footer">Formación</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="#proyectos" class="enlace-footer">Portafolio</a>
                            </li>
                        </ul>
                    </div>

                    <div class="piePagina__contacto">
                        <h2 class="titulo-secundario">Contacto:</h2>
                        <ul class="enlacesPie">
                            <li class="enlacesPie__enlace">
                                <a href="mailto:edmedev@​yahoo.com" target="_blank" class="enlace-footer">✉ edmedev@​yahoo.com</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="https://wa.me/573245307625/" target="_blank" class="enlace-footer">✆ (+57) 324 530 7625</a>
                            </li>

                            <li class="enlacesPie__enlace">
                                <a href="https://tawk.to/eduardomendez/" target="_blank" class="enlace-footer">🗪 Chat Web</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="piePagina__copyright">
                    <p class="parrafo-secundario">Desarrollado por Eduardo Mendez 2023</p>
                </div>
            </div>
        </footer>
    </body>
</html>
