<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- metas basicas -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Estilos font-family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!-- Estilos CSS -->
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
    </head>
    
    <body>
        <!-- Encabezado del sitio web -->
        <header class="encabezado">
            <div class="encabezado__container container">
                <div class="encabezado__logo">
                    <a href="./">
                        <h1>Eduardo Mendez</h1>
                    </a>
                </div>

                <nav class="navegacion">
                    <ul class="navegacion__bloqueLista">
                        <li class="navegacion__bloqueLista--lista">
                            <a href="#sobre-mi" class="enlace-nav">Sobre mí</a>
                        </li>

                        <li class="navegacion__bloqueLista--lista">
                            <a href="#skills" class="enlace-nav">Skills</a>
                        </li>

                        <li class="navegacion__bloqueLista--lista">
                            <a href="#hobbies" class="enlace-nav">Hobbies</a>
                        </li>

                        <li class="navegacion__bloqueLista--lista">
                            <a href="#formacion" class="enlace-nav">Formación</a>
                        </li>

                        <li class="navegacion__bloqueLista--lista">
                            <a href="#proyectos" class="enlace-nav">Proyectos</a>
                        </li>

                        <li class="navegacion__bloqueLista--lista">
                            <a href="#contacto" class="enlace-nav">Contacto</a>
                        </li>
                    </ul>
                </nav>

                <div id="icono-menu">
                    <img src="../src/iconos/bars-solid.svg" alt="icono menu" class="icono-menu__iconoMovil">
                </div>
            </div>
        </header>
    </body>
</html>
